input {
    width: 80%;
    height: 40px;
    margin-bottom: 5px;
}

#login-tab {
    display: block;
}

#signup-tab {
    display: none;
}

.login {
    vertical-align: top;
}

.card {
    width: 70vw;
    max-width: 700px;


}

.signin-backing {
    background-color: azure;

}