<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.theme.default.min.css">
		<!--<link rel="stylesheet" href="static/vendors/aos/css/aos.css"> -->
		<link rel="stylesheet" href="static/vendors/jquery-flipster/css/jquery.flipster.css">
		<link rel="stylesheet" href="static/css/style.css">
        <link rel="shortcut icon" href="static/imgs/favicon.png" />
        {% block css %}{% endblock %}

        <title>{% block title %}Washer World{% endblock %}</title>
    </head>


</html>