<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.theme.default.min.css">
		<!--<link rel="stylesheet" href="static/vendors/aos/css/aos.css"> -->
		<link rel="stylesheet" href="static/vendors/jquery-flipster/css/jquery.flipster.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/style.css">
        <link rel="shortcut icon" href="static/imgs/favicon.png" />
        {% block css %}{% endblock %}

        <title>{% block title %}Washer World{% endblock %}</title>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="mobile-menu-overlay"></div>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#"><img src="static/imgs/logo.svg" alt="Washer World"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
						<img src="static/imgs/logo-dark.svg" class="logo-mobile-menu" alt="logo">
						<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
					</div>
					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{% for message in get_flashed_messages() %}
            <h3 class="text-center alert alert-danger">{{ message }}</h3>
		{% endfor %}

		<footer class="footer">
			<div class="footer-bottom">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center">
							<img src="static/imgs/logo.svg" alt="logo" class="mr-3">
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="static/vendors/base/vendor.bundle.base.js"></script>
		<script src="static/vendors/owl.carousel/js/owl.carousel.js"></script>
		<script src="static/vendors/aos/js/aos.js"></script>
		<script src="static/vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
		<script src="static/js/template.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='static/js/bootstrap.min.js' ) }}"></script>
    </body>
</html>