{% extends "base.html" %}

{% block body %}
<section class="pricing-list" id="plans">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-offset="-500">
                <div class="col-sm-12">
                    <div class="d-sm-flex justify-content-between align-items-center mb-2">
                        <div>
                            <h3 class="font-weight-medium text-dark ">TODO: ROOM ID</h3>
                            <h5 class="text-dark ">TODO: ROOM DESC</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"  data-aos="fade-up" data-aos-offset="-300">
                <div class="col-sm-4">
                    <div class="pricing-box">
                        <img src="images/starter.svg" alt="">
                        <h6 class="font-weight-medium title-text">Washer #1</h6>
                        <h1 class="text-amount mb-4 mt-2">$23</h1>
                        <ul class="pricing-list">
                            <li>Create a free website</li>
                            <li>Connect Domain</li>
                            <li>Business and ecommerce</li>
                            <li>Idea for smaller professional websites</li>
                            <li>Web space</li>
                        </ul>
                        <a href="#" class="btn btn-outline-primary">Puchase Now</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pricing-box selected">
                        <img src="images/proffessional.svg" alt="starter">
                        <h6 class="font-weight-medium title-text">Professional</h6>
                        <h1 class="text-amount mb-4 mt-2">$45</h1>
                        <ul class="pricing-list">
                            <li>Create a free website</li>
                            <li>Connect Domain</li>
                            <li>Business and ecommerce</li>
                            <li>Idea for smaller professional websites</li>
                            <li>Web space</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Puchase Now</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pricing-box">
                        <img src="images/premium.svg" alt="starter">
                        <h6 class="font-weight-medium title-text">Premium</h6>
                        <h1 class="text-amount mb-4 mt-2">$87</h1>
                        <ul class="pricing-list">
                            <li>Create a free website</li>
                            <li>Connect Domain</li>
                            <li>Business and ecommerce</li>
                            <li>Idea for smaller professional websites</li>
                            <li>Web space</li>
                        </ul>
                        <a href="#" class="btn btn-outline-primary">Puchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}